/* color palette: https://colorhunt.co/palette/03aed268d2e8fdde55feefad */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Futura BdCn BT', sans-serif;
    color: var(--darkBlue);
}
body{
    overflow-x: hidden;
}
/* Explicitly set the grid */
.grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "price1 price2 price3"
        "testimonies testimonies testimonies"
        "attraction1des attraction1img attraction1img"
        "attraction2img attraction2img attraction2des"
        "attraction3des attraction3img attraction3img"
        "footer footer footer";
        background-color: aquamarine;
        justify-content: space-evenly;
        row-gap: 15px;
}

/* Define grid areas */
nav {
    grid-area: nav;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 5px 20px;
}

nav ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    list-style-type: none;
}

nav li {
    position: relative;
    display:flex;
    padding: 5px;
    justify-content: space-around;
    width: 45%;
    list-style-type: none;
}

header {
    grid-area: header;
    border-radius: 2px;
    border: 1px solid black;
}

footer {
    grid-area: footer;
    height: 100px;
    background-color: #FEEFAD;
}

#testimonies {
    grid-area: testimonies;
    background-color: #0073e6;
}

/* Grid area for price items */
#price1 {
    grid-area: price1;
}

#price2 {
    grid-area: price2;
}

#price3 {
    grid-area: price3;
}

/* Grid area for attractions */
#att1img {
    grid-area: attraction1img;
    justify-self: end;
}

#att1desc {
    grid-area: attraction1des;
    justify-self: center;
}

#att2img {
    grid-area: attraction2img;
}

#att2desc {
    grid-area: attraction2des;
    justify-self: center;
}

#att3img {
    grid-area: attraction3img;
    justify-self: end;
}

#att3desc {
    grid-area: attraction3des;
    justify-self: center;
}

/* Styling individual items */
.small-image {
    width: 350px;
    height: auto;
}

.mid-image {
    width: 500px;
    height: auto;
}

.icon {
    width: 50px;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}