.grid-container-index {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "header header"
        "slider slider"
        "attraction1 attraction2"
        "footer footer";
    background-color: antiquewhite;
    justify-content: center;
    }

nav {grid-area: nav;}

.header {
    grid-area: header;
}

.slider{
    grid-area: slider;
}

.attractions {
    margin: 5rem;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    background-color: rgb(202, 244, 255, 0.4);
}

.attractions h3{
    font-size: xx-large;
    margin: 15px;
}

#attraction1 {
    grid-area: attraction1;
}

#attraction2 {
    grid-area: attraction2;
}