.grid-container-index {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "nav nav"
        "header header"
        "slider slider"
        "separator separator"
        "attraction1 attraction2"
        "footer footer";
    justify-content: center;
}

nav {
    grid-area: nav;
}

.header {
    grid-area: header;
}

.slider {
    grid-area: slider;
}

footer {
    grid-area: footer;
}

.separator {
    grid-area: separator;
    text-align: center; 
    color: white; 
    font-size: 9vw;
}

.attractions {
    margin: 2%;
    border-radius: 10%;
    padding: 10%;
    height: auto;
    background-color: rgba(202, 244, 255, 0.4); /* Corrected opacity syntax */
}

.attractions h3 {
    font-size: xx-large;
    margin: 15px;
}

#attraction1 {
    grid-area: attraction1;
}

#attraction2 {
    grid-area: attraction2;
}