/* color palette: https://colorhunt.co/palette/03aed268d2e8fdde55feefad */

.grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "price1 price2 price3"
        "slider slider slider"
        "attraction1 attraction1 attraction1"
        "attraction2 attraction2 attraction2"
        "attraction3 attraction3 attraction3"
        "footer footer footer";
}

nav {grid-area: nav;}

.header {
    grid-area: header;
}

.slider{
    grid-area: slider;
}

footer{
    grid-area: footer;
}

/*Nav-------------------------------------*/

nav {
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    min-height: auto;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgba(3, 174, 210, 0.6); 
}

nav ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    list-style-type: none;
    color: white;
}

nav li {
    position: relative;
    display:flex;
    padding: 5px;
    justify-content: space-around;
    width: 45%;
    list-style-type: none;
}

nav li:hover {
    background-color: rgb(3, 174, 210);
    color: #FEEFAD;
    text-decoration: underline;
}

nav a:link {
    color: #FDDE55;
    text-decoration: none;
    position: center;
    font-size: large;
}

.icon {
    width: 80px;
    height: auto;
}

/*Prices-------------------------------------*/

.price-item {
    padding: 10px;
    background-color: #FFFFFF;
    margin: 5px;
    align-items: center;
    text-align: center;
    border-style: dotted;
}

.price-item h3 {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.price-amount p {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 0.3rem;
}

.price-amount h4 {
    font-size: 10px;
    margin-bottom: 1rem;
}

.price-image h4 {
    font-size: 10px;
    margin-top: 2rem;
}

.price-list {
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
}

.price-button {
    margin: 10px;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
}

.price-button:hover{
    background-color: #FDDE55;
    color: black;
}

.price-button a {
    text-decoration: none;
}

.price-button a:hover {
    text-decoration: underline;
    color: #03AED2;
}

#price1 {
    grid-area: price1;
    margin-left: 4%;
}

#price2 {
    grid-area: price2;
    margin-right: 2%;
    margin-left: 2%;
}

#price3 {
    grid-area: price3;
    margin-right: 4%;
}

/*Attractions-------------------------------------*/
/* Grid area for attractions */
#attraction1 {
    grid-area: attraction1;
}

#attraction2 {
    grid-area: attraction2;
}

#attraction3 {
    grid-area: attraction3;
}


/* Styling individual items */
.attraction-image {
    max-width: 100%;  /* Ensure images are responsive */
    max-height: auto; /* Adjust the max height to cut the size */
    object-fit: cover; /* Ensure images cover the container */
    overflow: hidden;
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 571px) and (max-width: 1010px){
    nav a:link {
        font-size: medium;
    }
}
/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
    nav a:link {
        font-size: small;
    }
}
